<footer class="footer">
    <div class="footer-top">
        <div class="footer-section">
            <h4>Support</h4>
            <a href="#">Help Center</a>
            <a href="#">Safety Information</a>
            <a href="#">Cancellation Options</a>
            <a href="#">Report a Concern</a>
        </div>

        <div class="footer-section">
            <h4>Community</h4>
            <a href="#">Travel Stories</a>
            <a href="#">Community Blog</a>
            <a href="#">Invite Friends</a>
            <a href="#">Gift Cards</a>
        </div>

        <div class="footer-section">
            <h4>Hosting</h4>
            <a href="#">Become a Host</a>
            <a href="#">Hosting Resources</a>
            <a href="#">Host Community</a>
            <a href="#">Feedback</a>
        </div>

        <div class="footer-section">
            <h4>Wanderlust</h4>
            <a href="#">About Us</a>
            <a href="#">Newsroom</a>
            <a href="#">Careers</a>
            <a href="#">Contact</a>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-left">
            <span>&copy; 2025 Wanderlust Private Limited</span>
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/sitemap">Sitemap</a>
        </div>

        <div class="footer-right">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>
